{% extends "bouteille/base.html" %}

{% block main %}

<header>
    <img class="max-h-24 md:max-h-32 w-full object-cover" src="/public/img/drizzle_bg_2.jpg" alt="">
</header>

{# <section class="section -mt-9 sm:-mt-11">
    <div class="relative inline-flex items-center justify-center overflow-hidden 
            bg-violet-300 rounded-full
            border-8 border-white border-solid
            w-20 h-20
            sm:w-28 sm:h-28">
        <span class="font-bold sans_6  capitalize text-black
            text-3xl
             sm:text-5xl">{{session.utilisateur.uti_prenom |first}}</span>
    </div>
</section> #}
<section class="section mt-5 sm:mt-6 md:mt-9 flex items-center gap-x-10">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-extrabold ">Liste</h1>

    <!-- Modal toggle -->
    <div x-data="{ open: false }">
        <button 
        @click="open = !open"
        class="block text-sm bg-gray-800 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded " type="button">
            Ajouter un cellier
        </button>
    
        {# https://alpineapple.dev/modal/ #}
        <div x-transition x-show="open === true" class="flex justify-center items-center  fixed inset-0 bg-black bg-opacity-50 z-50">
            <div class="flex flex-col relative  rounded-lg shadow-lg px-5 pt-6 pb-3 bg-white">
                <div class=""  @click.outside="open = false">
                    <form class="bg-white rounded p-2 mb-4" action="/cellier/ajout" method="post">
                      <div class="mb-4">
                        
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                          Nom du cellier:
                        </label>
                        <input name="ajoutCellier" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="" required>
                      </div>
                     
                      <div class="flex items-center justify-between">
                        <button class="bg-gray-800 text-sm text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                          Ajouter
                        </button>
                        <img 
                        @click="open = false"
                        class="mr-2 w-8 cursor-pointer" src="/public/img/cross-svg.svg" alt="">
                      </div>
                    </form>
                  </div>
            
            </div>
        </div>

    </div>
</section>

{# Affichage de la liste des celliers #}
<section class="section mt-8 flex flex-col sm:flex-row flex-wrap gap-4">

    {% for cellier in celliers %} 
    <a href="/cellier/un/{{cellier.cel_id}}" class="sm:w-[calc(50%-1rem)] xl:w-[calc(33%-1rem)]">
    <article class="relative">
        <div class=" p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <svg class="w-10 h-10 mb-2 text-gray-500 " aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path></svg>
        <p class="mb-3 font-normal text-gray-500 ">Go to this step by step guideline process on how to certify for your weekly benefits:</p>  
        </div>
        <div class="absolute top-[7.5%] right-[5%] p-2 bg-slate-100 rounded-full">
          <img class="w-5" src="/public/img/petit-menu.svg" alt="">
        </div> 
    </article>
             
    </a>
    {% endfor %} 

</section>


<style>
    .section {
        max-width: clamp(0px, 80vw, 1200px);
        margin-left: auto;
        margin-right: auto;
      }
      .sans_6 {
        font-family: sans-serif;
      }
  </style>


{# message pour celliers vides #}
{# implémenter le message pour bouteille vides #}
{% if celliers is empty %}

   

{% endif %}

{% endblock main %}
