{% extends "compte/base.html" %}

{% block main %}

<header>
    <img class="max-h-24 md:max-h-32 w-full object-cover" src="/public/img/drizzle_bg_2.jpg" alt="">
</header>

<section class="section -mt-9 sm:-mt-11">
    <div class="relative inline-flex items-center justify-center overflow-hidden 
            bg-violet-300 rounded-full
            border-8 border-white border-solid
            w-20 h-20
            sm:w-28 sm:h-28">
        <span class="font-bold sans_6  capitalize text-black
            text-3xl
             sm:text-5xl">C</span>
    </div>
</section>
<section class="section mt-4 sm:mt-6 md:mt-9">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-extrabold ">Mon compte</h1>

</section>

   
<style>
    .section {
        max-width: clamp(0px, 80vw, 1200px);
        margin-left: auto;
        margin-right: auto;
      }
      .sans_6 {
        font-family: sans-serif;
      }
  </style>

{% endblock main %}
